* {
  box-sizing: border-box;
}

.archivo {
  font-family: "Archivo", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body {
  margin: 0;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.messages-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 1000px;
  gap: 20px;
  padding-bottom: 100px;
}

.messages-container > div {
  font-size: 12px;
  padding: 7px 12px;
  border: none;
  box-shadow: 0px 0px 10px gray;
  border-radius: 8px;
  max-width: 900px;
  border-radius: 30px;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  border-radius: 20px;
}

.userMsg {
  align-self: flex-end;
  background: linear-gradient(
    170deg,
    rgba(58, 56, 56, 0.623) 0%,
    rgb(31, 31, 31) 100%
  );
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.55);
  color: white;
}

/* .sendButton {
  padding: 10px 15px;
  text-align: center;
  border-radius: 3px;
  background-color: black;
  color: whitesmoke;
  transition: all 0.3s ease-in-out;
  border: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.sendButton:hover {
  cursor: pointer;
  background-color: white;
  color: tomato;
  border: 2px solid brown;
} */
button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: 1px solid #23c483;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}

#userInput {
  flex-grow: 1;
  border-radius: 3px;
  border-radius: 3px;
  margin-right: 5px;
  padding: 1.3em 3em;
  font-size: 13px;
  font-weight: 500;
  border-radius: 40px;
}

.input-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 1000px;
  position: fixed;
  padding: 10px 20px;
  bottom: 20px;
  right: 5px;
  width: 100%;
  margin-left: 10px;
  font-family: Inter, sans-serif;
  background: linear-gradient(
    170deg,
    rgba(58, 56, 56, 0.623) 0%,
    rgb(31, 31, 31) 100%
  );
  border-radius: 30px;
}

.empty-div {
  height: 100px;
  width: 900px;
  margin: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: start;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.messages-container > div {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}
